/* You can add global styles to this file, and also import other style files */

.container-fluid{
    background-color: maroon;    
}
.navv{
    background-color: maroon;
}

.nav-link{
    color: whitesmoke;
}
.navbar-brand{
    color: whitesmoke;
}
.navbar-nav{
    align-items: center;
}

.btn{
    color: whitesmoke;
    border-color: whitesmoke;
}
footer{
    background-color: maroon;
    min-height: 45px;
}
.footertext{
    color: whitesmoke;
    margin-left: 43%;
    margin-top: 10%;
    padding-top: 10px;
}