# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
name: Build and deploy frontend and backend app to Azure
on:
    push:
        branches:
            - master
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        name: Build and zip apps from /dist
        steps:
            - uses: actions/checkout@v4
            - name: Set up Node.js version
              uses: actions/setup-node@v4
              with:
                  node-version: '18.x'
            - name: npm install, build, and test
              run: |
                  npm install
                  npm run build --if-present
                  # npm run test --if-present
            
            # For NestJS backend - Nx will generate package.json
            - name: Install production dependencies for data-api
              run: |
                  cd ${GITHUB_WORKSPACE}/dist/apps/data-api
                  npm install --production
                  
            - name: Zip data-api for deployment
              run: |
                  cd ${GITHUB_WORKSPACE}/dist/apps/data-api
                  zip -r ${GITHUB_WORKSPACE}/data-api-release.zip . -x '*.git*'
            
            # For Angular frontend
            - name: Zip frontend artifacts for deployment
              run: |
                  cd ${GITHUB_WORKSPACE}/dist/apps/share-a-meal-web/
                  zip ${GITHUB_WORKSPACE}/share-a-meal-web-release.zip ./* -r
                  
            - name: Upload share-a-meal-web artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: share-a-meal-web
                  path: share-a-meal-web-release.zip
                  
            - name: Upload data-api artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: data-api
                  path: data-api-release.zip
                  
    deploy-share-a-meal-web:
        runs-on: ubuntu-latest
        name: Deploy Angular Frontend
        needs: build
        environment:
            name: 'Production'
        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: share-a-meal-web
            - name: Unzip artifact for deployment
              run: unzip share-a-meal-web-release.zip
            - name: Deploy to static azure web app
              id: builddeploy
              uses: Azure/static-web-apps-deploy@v1
              with:
                  azure_static_web_apps_api_token: ${{ secrets.ANGULAR_PUBLISHTOKEN }}
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  action: 'upload'
                  app_location: '/'
                  api_location: ''
                  output_location: 'dist/apps/share-a-meal-web'
                  
    deploy-data-api:
        runs-on: ubuntu-latest
        name: Deploy NestJs data-api backend
        needs: build
        environment:
            name: 'Production'
            url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: data-api
                  
            - name: 'Deploy to Azure Web App'
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v3
              with:
                  app-name: 'f1blogger'
                  slot-name: 'Production'
                  publish-profile: ${{ secrets.NESTJS_PUBLISHPROFILE }}
                  package: data-api-release.zip